/* General */
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial;
  text-align: center;
}

a {
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
}

video, img {
  display: block;
  width: 100%;
}

h1 {
  margin: 0;
}

/* Navigation bar and footer */
header, footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}

footer {
  background: #000;
}

.logo_name {
  align-self: center;
  font-size: 1.2em;
  padding: 0 0 0 1em;
}

.logo_name a {
  color: #222;
}

header ul, footer ul {
  margin: 0;
  padding: 0 2em 0 1em;
}

header ul li, footer ul li {
  display: inline-block;
  padding: 1em;
}

nav a {
  color: #333;
}

nav a:hover {
  border-bottom: 1.5px solid #555;
}

nav a:active {
  color: #fff;
  border-bottom: #fff;
}

/* Sections */
section {
  height: 100vh;
}

.title_info, .tech_info, .about_info, .contact_info, .lights_info {
  padding: 1.5em;
}

/* Title About pages */
.title_page, .about_page {
  background: #0067C1;
  color: #fff;
}

/* Tech */
.tech_page {
  background: #333;
  color: #eee;
}

/* screen changes */
@media screen and (min-width : 800px) {
  .title_page, .lights_page, .tech_page, .about_page, .contact_page {
    display: flex;
  }
}
